In [17]:
import pandas as pd

In [99]:
data={'Name' : ['Brahma', 'Vishnu', 'Mahesh'], 
      'Address' : ["Brahmalok located in Brahmand, Ajmer, 01/12","Vishnulok near Golok, Vrindavan, 02/12", "Kailash near Mountain, Shrishailam, 03/12"],
       'Date' : ["13/03/2024","14/05/2022","30/04/2024"],
      'Time' : ["10:20:30","04:05:20","07:40:12"]}

In [101]:
data

{'Name': ['Brahma', 'Vishnu', 'Mahesh'],
 'Address': ['Brahmalok located in Brahmand, Ajmer, 01/12',
  'Vishnulok near Golok, Vrindavan, 02/12',
  'Kailash near Mountain, Shrishailam, 03/12'],
 'Date': ['13/03/2024', '14/05/2022', '30/04/2024'],
 'Time': ['10:20:30', '04:05:20', '07:40:12']}

## Convert data into DataFrame

In [104]:
df=pd.DataFrame(data)

In [106]:
df

     Name                                      Address        Date      Time
0  Brahma  Brahmalok located in Brahmand, Ajmer, 01/12  13/03/2024  10:20:30
1  Vishnu       Vishnulok near Golok, Vrindavan, 02/12  14/05/2022  04:05:20
2  Mahesh    Kailash near Mountain, Shrishailam, 03/12  30/04/2024  07:40:12

In [108]:
df['Address']

0    Brahmalok located in Brahmand, Ajmer, 01/12
1         Vishnulok near Golok, Vrindavan, 02/12
2      Kailash near Mountain, Shrishailam, 03/12
Name: Address, dtype: object

### Split Address

In [111]:
df[['Street','City','HouseNo']]=df['Address'].str.split(',',expand=True)

In [113]:
df['Address']

0    Brahmalok located in Brahmand, Ajmer, 01/12
1         Vishnulok near Golok, Vrindavan, 02/12
2      Kailash near Mountain, Shrishailam, 03/12
Name: Address, dtype: object

In [115]:
df

,Name,Address,Date,Time,Street,City,HouseNo
0,Brahma,"Brahmalok located in Brahmand, Ajmer, 01/12",13/03/2024,10:20:30,Brahmalok located in Brahmand,Ajmer,01/12
1,Vishnu,"Vishnulok near Golok, Vrindavan, 02/12",14/05/2022,04:05:20,Vishnulok near Golok,Vrindavan,02/12
2,Mahesh,"Kailash near Mountain, Shrishailam, 03/12",30/04/2024,07:40:12,Kailash near Mountain,Shrishailam,03/12

In [117]:
df['Date']

0    13/03/2024
1    14/05/2022
2    30/04/2024
Name: Date, dtype: object

### Split the Date

In [120]:
df[['Day','Month','Year']]=df['Date'].str.split('/',expand=True)

In [122]:
df

,Name,Address,Date,Time,Street,City,HouseNo,Day,Month,Year
0,Brahma,"Brahmalok located in Brahmand, Ajmer, 01/12",13/03/2024,10:20:30,Brahmalok located in Brahmand,Ajmer,01/12,13,03,2024
1,Vishnu,"Vishnulok near Golok, Vrindavan, 02/12",14/05/2022,04:05:20,Vishnulok near Golok,Vrindavan,02/12,14,05,2022
2,Mahesh,"Kailash near Mountain, Shrishailam, 03/12",30/04/2024,07:40:12,Kailash near Mountain,Shrishailam,03/12,30,04,2024

### Split the Time

In [124]:
df[['Hours','Minutes','Seconds']]=df['Time'].str.split(':',expand=True)

In [126]:
df

,Name,Address,Date,Time,Street,City,HouseNo,Day,Month,Year,Hours,Minutes,Seconds
0,Brahma,"Brahmalok located in Brahmand, Ajmer, 01/12",13/03/2024,10:20:30,Brahmalok located in Brahmand,Ajmer,01/12,13,03,2024,10,20,30
1,Vishnu,"Vishnulok near Golok, Vrindavan, 02/12",14/05/2022,04:05:20,Vishnulok near Golok,Vrindavan,02/12,14,05,2022,04,05,20
2,Mahesh,"Kailash near Mountain, Shrishailam, 03/12",30/04/2024,07:40:12,Kailash near Mountain,Shrishailam,03/12,30,04,2024,07,40,12

# Drop Original Columns

In [132]:
df=df.drop(columns=['Address'])

In [134]:
df

,Name,Date,Time,Street,City,HouseNo,Day,Month,Year,Hours,Minutes,Seconds
0,Brahma,13/03/2024,10:20:30,Brahmalok located in Brahmand,Ajmer,01/12,13,03,2024,10,20,30
1,Vishnu,14/05/2022,04:05:20,Vishnulok near Golok,Vrindavan,02/12,14,05,2022,04,05,20
2,Mahesh,30/04/2024,07:40:12,Kailash near Mountain,Shrishailam,03/12,30,04,2024,07,40,12

In [138]:
df=df.drop(columns=['Date'])
df=df.drop(columns=['Time'])

In [140]:
df

,Name,Street,City,HouseNo,Day,Month,Year,Hours,Minutes,Seconds
0,Brahma,Brahmalok located in Brahmand,Ajmer,01/12,13,03,2024,10,20,30
1,Vishnu,Vishnulok near Golok,Vrindavan,02/12,14,05,2022,04,05,20
2,Mahesh,Kailash near Mountain,Shrishailam,03/12,30,04,2024,07,40,12